<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAC - Raio-X das Ocorrências Criminais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="navbar">
        <div class="nav-content">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Logo_PMPR_2.svg/963px-Logo_PMPR_2.svg.png"
                class="logo" alt="PMPR">
            <h1>RAC - Raio-X das Ocorrências Criminais</h1>
        </div>
    </header>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        © 2025 Polícia Militar do Paraná - Dados públicos de segurança
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>